<div class="container">
  <div class="row">


    <div class="col-md-4 offset-md-1">
    ジャンル検索
    </div>

    <div class="col-md-6 offset-md-2">
      
   　  <dvi class="row">
  　    中心ようこそ長野Cakeへ
  　   </div>

  　   <div class="row">
  　   新着商品欄
    　</div>

  </div>


  </div>
</div>