      <div class="card" style="width: 18rem;">
      <div class="card-header">
        ジャンル検索
      </div>
      <ul class="list-group list-group-flush">
        <% genres.each do |genre| %>
        <li class="list-group-item"><%= link_to genre.name, public_items_path(genre_id: genre.id) %></li>
        <% end %>
      </ul>
      </div>
