      <div class="card" style="width: 18rem;">
      <div class="card-header">
        ジャンル検索
      </div>
      <ul class="list-group list-group-flush">
        <% genres.each do |genre| %>
        <li class="list-group-item"><%= genre.name %></li>
        <% end %>
      </ul>
      </div>
