<div class="container">
  <div class="row">

    <div class="col-md-3">
      ジャンル検索
    </div>





    <div classo="col-md-8 offset-md-1">
      <h1>
        商品一覧(全<%= Item.count %>)
      </h1>

      <%# @items.each do |item| %>
        <tr>
          <td>
            <%#= item.name %><p>ネーム</p>
            <%#= item.price %><p>プライス</p>
          </td>
        </tr>
      <%# end %>




    </div>


  </div>
</div>