<div class="container">
  <div class="row">
    

    <div class="col-md-3">
      <!--ジャンル検索-->
    </div>

    <div classo="col-md-8 offset-md-1">
      <h1>
        商品一覧(全<%= Item.count %>)
      </h1>
      <table class="table d-flex flex-wrap">
        <% @items.each do |item| %>
        <tbody>
          <tr><td><%= image_tag item.image, size: "250x150" %> </td></tr>
          <tr><td><%= item.name %> </td></tr>
          <tr><td>&yen;<%= item.price %> </td></tr>
        </tbody>
        <% end %>
      </table>
    </div>


  </div>
</div>